@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#fundo {
    background-image: linear-gradient(45deg, #121022, #1818b9);
    height: 100vh;
    text-align: center;
    color: #ffffff;
}

#calculadora {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px; 
}

#resultado {
    color: #ffffff;
    margin: 10px;
    padding: 5px;
    text-align: end;
    font-size: 25px;
    height: 28px;
}

.bt {
    color: #ffffff;
    background-color: rgb(48, 46, 46);
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 50px;
    padding: 16px;
    font-size: 20px;
    margin: 2px;
    
}

.bt:hover {
    cursor: pointer;
    background-color: gray;
}

.bt1 {
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 50px;
    padding: 16px;
    font-size: 20px;
    background-color: rgb(128, 126, 126);
    margin: 2px;
}

.bt1:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.788);
}

.bt2 {
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 50px;
    padding: 16px;
    font-size: 20px;
    background-color: orange;
    color: white;
    margin: 2px;
}

.bt2:hover {
    cursor: pointer;
    background-color: #ebe6e6;
    color: orange;
}

